<div class="row center">
    <div *ngFor="let product of products">
        <div class="card">
            <img src={{product.image}} alt={{product.name}} class="medium" (click)="navigateToDetailsScreen(product._id)">
            <div class="card-body">
                <h2 (click)="navigateToDetailsScreen(product._id)">{{product.name}}</h2>
                
                <app-rating [rating]="product.rating" [numReviews]="product.numReviews"></app-rating>
                <div class="price">
                    <span [ngClass]="{'high-price':product.cost>250, 'regional-price':product.cost<250}">Price ${{product.cost}}</span>
                </div>
            </div>
        </div>
    </div>
</div>