<!--
    1) fa fa-star     (full star)

    2) fa fa-star-half-o  (half star)

    3) fa fa-star-o    (zero star)
-->
<div class="rating">
    <!-- <span [class]="rating==1?'fa fa-star':(rating>0)&&(rating<1):'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span [class]="rating==2?'fa fa-star':(rating>1)&&(rating<1.5):'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span [class]="rating==3?'fa fa-star':(rating>2)&&(rating<2.5):'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span [class]="rating==4?'fa fa-star':(rating>3)&&(rating<3.5):'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span [class]="rating==5?'fa fa-star':(rating>4)&&(rating<4.5):'fa fa-star-half-o':'fa fa-star-o'"></span>
    <span>Num Reviews : {{numReviews}}</span> -->
</div>